<div xmlns:th="http://www.thymeleaf.org"> 
<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;  ">
     
  <a class="navbar-brand" th:href="@{/}" style=" color: rgb(238, 75, 10); ">Poly Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/product/list}">Sản phẩm</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Danh mục
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/order/list}">Giỏ hàng</a>
         <a class="dropdown-item" th:href="@{/admin/home/index}">Quản lý </a>
         
      </li>
     
    </ul>
   
  </div>
  <th:block th:if="${#request.remoteUser}">
<a class="nav-link" th:href="@{/logoff}">Sign Out</a>
</th:block>
<th:block th:unless="${#request.remoteUser}">
<a class="nav-link" th:href="@{/login/form}">Sign In</a>
</th:block>
</nav>
</div>